.detailsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.detailsDescription {
    color: #4e4e4e
    
}

.addInfo h3 {
    color: #4e4e4e;
}

.cast{
    margin-right: 20px;
}

.cast:hover, 
.review:hover {
    color: #9d73d1
}

.castReviewList {
    list-style: circle;
    color: black;
    padding: 20px;
    margin: 0;
}